.page-container {
    width: 75%;
    margin: 0 auto;
    padding: 24px;
}

@media screen and (max-width: 1300px) {
    :root {
        --movie-carrousel-x-margin: 40px;
        --movie-card-width: 160px;
    }    

    .page-container {
        width: 85%;
    }
}

@media screen and (max-width: 900px) {
    :root {
        font-size: 14px;

        --movie-carrousel-x-margin: 20px;
        --movie-card-width: 125px;
        --movie-card-gap: 12px;
    }

    .page-container {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
        
        --movie-carrousel-x-margin: 10px;
        --movie-card-width: 100px;
        --movie-card-gap: 8px;
    }
}
