:root {
    /* COLORS */
    --background-color: #121212;
    --background-color-secondary: #181818;
    --background-color-tertiary: #282828;
    --theme-color: rgba(111, 161, 255, 1);
    --theme-color-secondary: rgba(0, 67, 192, 0.774);

    /* SIZES */
    --movie-carrousel-x-margin: 60px;
    --movie-card-width: 185px;
    --movie-card-gap: 16px;
}
