:root {
    /* COLORS */
    --background-color: #121212;
    --background-color-secondary: #252525;
    --theme-color: blue;
    --theme-color-secondary: turquoise;

    /* SIZES */
    --movie-carrousel-x-margin: 60px;
    --movie-card-width: 225px;
    --movie-card-gap: 16px;
}